{% extends "base.html" %}
{% block leftbutton %}
<a data-role="button" href="/" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Back</a>
{% endblock %}
{% block content %}
<div align="center">
  <h2>About</h2>
</div>
<div align="left" style="padding: 8px">
  <strong>A project through the New Media Institute at the University of Georgia</strong>
  <p>The Feed is currently in a "proof of concept" stage of development. User accounts do not exist yet on The Feed, and therefore, the Grocery List feature is NOT personalized for each person. You will be able to create your own account in early 2013.</p>
</div>
{% endblock %}
{% block classes %}class="ui-btn-active ui-state-persist"{% endblock %}
