<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content= "initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>
        The Feed
        </title>
        <link rel="stylesheet" href="/static/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="/static/jquery-mobile-theme-111841-0/themes/V1.css" />
		<style>
            /* App custom styles */
        </style>
        <script src="/static/jquery-1.8.2.min.js">
        </script>
        <script src="/static/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.js">
        </script>
		<meta property="og:image" content="http://thefeedapp.mynmi.net/static/fb_feed.png"/>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <script>
		$.mobile.getMaxScrollForTransition = function () { return 9999999999; }
		</script>
		
		{% block fb %}{% endblock %}
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header" data-tap-toggle="false"  data-position="fixed">
            	{% block leftbutton %}{% endblock %}
                <h3 class="ui-title" role="heading" aria-level="1" style="margin-bottom: 6px; margin-top: 10px;">
                  <img src="/static/jquery-mobile-theme-111841-0/themes/images/FEEDTOP.png"/>                                    
                  </h3>
            	{% block rightbutton %}{% endblock %}
            </div>
            {% block content %}
			{% endblock %}
            <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
                <div data-role="navbar" class="nav-glyphish-example" data-iconpos="top" data-position="fixed" data-tap-toggle="false">
                    <ul>
                        <li>
                            <a href="/" id="feed" data-theme="" data-icon="custom" data-transition="fade" {% block feed %}{% endblock %} >
                                Feed
                            </a>
                        </li>
                        <li>
                            <a href="/classes.html" id="learn" data-theme="" data-icon="custom" data-transition="fade" {% block classes %}{% endblock %} >
                                Learn
                            </a>
                        </li>
                        <li>
                            <a href="/list.html" id="shop" data-theme="" data-icon="custom" data-transition="fade" {% block list %}{% endblock %} >
								List
                            </a>
                        </li>
                        <li>
                            <a href="/upload.html" id="upload" data-theme="" data-icon="custom" data-transition="fade" {% block upload %}{% endblock %} >
                                Upload
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
