{% extends "base.html" %}
{% block extrahead %}
<link href="/static/NKPAGE.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div align="center" id="container">
<div align="center" id="banner" title="banner"><img src="/static/NUTRITIONKITCHENPAGE.jpg" width="320"/></div>
<div align="center" id="middle" title="middle" style="padding: 5px">
  <h2>Sign up for a cooking class today</h2>
  <p>$5 per person</p>
  <p><a href="tel:1-706-542-8690" data-role="button" data-inline="true">Book a class</a>
  <a href="http://www.uhs.uga.edu/nutrition/kitchen.html" data-role="button" data-inline="true">Learn more</a></p>
</div>
{% endblock %}
{% block classes %}class="ui-btn-active ui-state-persist"{% endblock %}
