{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/cubiq-add-to-homescreen-63ea7a9/style/add2home.css">
<link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon.png">
<link rel="icon" href="/static/favicon.png">
<script type="application/javascript" src="/static/cubiq-add-to-homescreen-63ea7a9/src/add2home.js"></script>
<script src="/static/customAddToHomescreen.js"></script>
{% endblock %}
{% block rightbutton %}
	<a href="/about.html" data-role="button" class="ui-btn-right">About</a>
{% endblock %}

{% block content %}
	<div id="mealslist">
    	<div data-role="content" style="padding: 10px; margin:auto;">
			{% for meal in meals %}
                <h2 style="text-align: center;">
					{{meal.title}}
                </h2>
				<div class="invisible_parent" style="width: 300px;
				    height: 275px;
					    margin: auto;
						    position: relative;">
					<div class="parent" style="width: 275px;
					    height: 275px;
						    margin: auto;
							    background-color: #fbfbfb;
								    ">
						<div class="outer" style="position: relative;
						    top: 12px;
							    left: 12px;
								    width: 250px;
									    height: 250px;
										    overflow:hidden;
											">
							<div class="inner" style="float: left;
							    position: relative;
								    left: 50%;">
								<a href="/meal/{{ meal.slug }}" data-transition="flip">
									<img src="{{ meal.image.url }}" height="250" width="250" style="display: block; position: relative; left: -50%;" alt="image" />
								</a>
							</div>
						</div>
					{% if meal.uploader == 'N' %}
						<span class="nutritionkitchen" style="width: 50px;
						    height: 64px;
							    background: url(/static/nk.png) no-repeat;
								    position: absolute;     
										top: 0;
											right: 0;"></span>
					{% endif %}
					</div>
				</div>
				<br>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block feed %}class="ui-btn-active ui-state-persist"{% endblock %}
