{% extends "base.html" %}

{% block fb %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=355024687922288";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}


{% block leftbutton %}
<a data-role="button" href="/" data-transition="flip" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Back</a>
{% endblock %}

{% block rightbutton %}
<form action="" method="post" enctype="multipart/form-data" data-ajax="false">
	{% csrf_token %}
	<input type="submit" value="Add to List" data-rel="dialog" data-role="button" data-icon="plus" data-iconpos="right" class="ui-btn-right"/>
</form>
{% endblock %}
{% block content %}
<div data-role="content" style="padding: 15px">
	<div style="text-align: center;">
	<fb:like send="true" layout="button_count" width="100" show_faces="false" action="recommend"></fb:like>
    </div>
	<h2>
		{{ meal.title }}
    </h2>
    <h3>
    	Ingredients
    </h3>
    {% for ingredient in ingredients %}
    	<p>
    		- {{ ingredient }}
   		</p>
	{% endfor %}
    <h3>
    	Instructions
    </h3>
    <p>
    	{{ meal.instructions }}
    </p>
    <h3>
    	Time Period
    </h3>
    <p>
    	{{ meal.time_period }}
    </p>
    <h3>
    	Serves
    </h3>
    <p>
    	{{ meal.serves }}
    </p>
</div>
{% endblock %}

{% block feed %}class="ui-btn-active ui-state-persist"{% endblock %}
